sphinx==1.8.5
recommonmark==0.7.1
jinja2==3.0.0
six==1.16.0
snowballstemmer
mock
commonmark
urllib3
sphinxcontrib-serializinghtml
Pygments
pillow
packaging
MarkupSafe
imagesize
idna
docutils
charset-normalizer
certifi
babel
alabaster
sphinxcontrib-websupport
requests
readthedocs-sphinx-ext
sphinx-rtd-theme
